*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; 
  /* This makes the widths of elements more consistent
  Full details here https://css-tricks.com/box-sizing/ */
}

/*.box1{
  height: 100vh;
  width: 100%;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: center;
}

.box2{
  height: 100vh;
  width: 100%;
  background-image: url("../img/2.jpg");
  background-size: cover;
  background-position: center;
}

.box3{
  height: 100vh;
  width: 100%;
  background-image: url("../img/3.jpg);
  background-size: cover;
  background-position: center;
}*/

.g-70 a:link {
  text-decoration: none;
}

.g-70 a:visited {
  text-decoration: none;
}

.g-70 a:hover {
  text-decoration:none;
}

.g-70 a:active {
  text-decoration: underline;
}
.menu-area li a {
  text-decoration: none;
}

.menu-area li {
  list-style-type: none;
}

.custom-padding{

  padding-top: 25px;
}

.logo {
  width: 15%;
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  text-align: left;
  padding-left: 2%;
}


.menu-area li {
  display: inline-block;
}

.menu-area a {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;

}
.menu-area a:hover {
  background: #f7cac9;
  color: #fff;
}

.menu-area a:hover:after {
  transform: translateY(-50%) rotate(-35deg);
}

nav {
  position: fixed;

  margin: 0 auto;
  padding: 10px 0;
  background: #034f84;
  z-index: 1;
  text-align: right;
  padding-right: 2%;
  top: 0;
  width: 100%;
}


nav:before {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-right: 10px solid #333;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  left: 0;
}

nav:after {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-left: 10px solid #333;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  right: 0;
}


header{
  background-color:  #107896 ;

  color: white; /* more readable on an orange background */
  padding-top: 50px;
  padding-bottom: 50px;
  text-align:center;
  font-family: sans-serif;
  line-height: 1.6em;
  
}

.shadow{
  border-radius:0px 0px 30px 5px;
  box-shadow: 10px 10px 5px grey;
}



body{
background-color: lightblue;
  margin: 0px; /* Often browsers have a 5px margin by deafult*/
  font-family: sans-serif;
}

p{
  font-family: sans-serif;

}

section{
 max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  /*margin-bottom: 20px;*/
  /*margin-bottom: 30px;*/

}



#home-img1{
  object-fit: fill;
  width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-image:url("../img/h2.jpg");
    text-align: center;
    color: #ffffff;



}
#home-img2{
  object-fit: fill;
  width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-image:url("../img/h1.jpg");
    text-align: center;
    color: #ffffff;



}
#home-img3{
  object-fit: fill;
  width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-image:url("../img/h2.jpg");
    text-align: center;
    color: #ffffff;

}

#home-img4{
  object-fit: fill;
  width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-image:url("../img/h4.jpg");
    text-align: center;
    color: #ffffff;
}




#home-image h1{
  position:relative;
  padding-bottom:100px; 
  margin-top: 100px;
  color: hotpink;
  font-size:40px;
  line-height: 1.6em;
  
  font-family: sans-serif;

}

.txt{
  padding-top: 100px;
  padding-bottom: 200px;
 line-height: 1.8;
 
}



/* Simple grid */
.g-row{
  width: 100%;
  overflow: hidden;
}

.g-row img{
  width: 100%; /*This makes all images in grids to be the size of their cell */
  border-radius: 15px  50px;
  box-shadow: 10px 10px 5px grey;
  padding: 10px ;
  height: auto;
  

}
.g-50{
  width: 50%;
  float: left;
  


}

.g-30{
  width: 30%;
  float: left;
  padding: 10px;
}

.g-70{
  width: 70%;
  float: left;
  padding-top: 20px;
  color: white;
}

/*.padded-left{
  padding-left: 100px;
}
.padded-right{
  padding-right: 100px;
}*/

.show{
  border: 1px solid blue;
  padding: 2px;
}

.padded{
  padding: 20px; /* I add this to cells to add a little padding*/
}

.home-text{
  padding-top: 220px;
    padding-bottom: 220px;
  font-size: 25px
  margin-top:30%;
}

#main-footer{
  background: #107896 ;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;

}